<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fa7d9b">  <td>20/07/17 18:27:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Twitter.a_wrong_user_password()[pri:0, instance:com.test.codemi.Twitter@4b0d79fc]">a_wrong_user_password</td> 
  <td>main@1776374725</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>20/07/17 18:27:43</td>   <td>41186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Twitter.b_right_user_password()[pri:0, instance:com.test.codemi.Twitter@4b0d79fc]">b_right_user_password</td> 
  <td>main@1776374725</td>   <td></td> </tr>
</table>
